@font-face {
    font-family: 'Dosis-Bold';
    src: url('../resource/fonts/Dosis-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-Regular';
    src: url('../resource/fonts/Dosis-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-SemiBold';
    src: url('../resource/fonts/Dosis-SemiBold.ttf') format('truetype');
}


.tab-content {
    background-color: #eeeeee;
    border: 5px solid #eeeeee;
    border-radius: 3px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fa9900;
    cursor: pointer;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    border-top: 3px solid #fa9900;
    border-radius: 3px;
}

.nav-tabs > li > a {
    color: #414141;
    cursor: pointer;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-top: 3px solid #414141;
    border-radius: 3px;
}

    .nav-tabs > li > a:hover {
        color: #b1b1b1;
        cursor: pointer;
        background-color: #eeeeee;
        border: 1px solid #dddddd;
        border-top: 3px solid #b1b1b1;
        border-radius: 3px;

    }


.navbar-defaults .navbar-nav > li > a {
    height: 65px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Dosis-SemiBold;
    font-weight: bold;
    font-size: 18px;
    background-color: #707070;
    color: white;
    
}

    .navbar-defaults .navbar-nav > li > a:hover {
        background-color: #ff9900;
        color: white;
    }

    .navbar-defaults .navbar-nav > li > a:focus {
       	background-color: #ff9900;
        color: white;
    }


.navbar-defaults {

    border-color: transparent;
}


.navbar-link {
	position:center;
}

.navbar-link img {
width:40px;
height:25px;
border:1px solid white; 
padding-left:7px;
padding-right:7px;
margin-top:5px;
margin-right:7px;
}

.navbar-link > img:hover {
	background-color: #fff;
    color: white;
}

.navbar-link > img:focus{
       	background-color: #fff;
        color: white;
}


.navbar-link > img:visited{
       	background-color: #fff;
        color: #292929;
        
}

.navbar-link > img:active{
       	background-color: #fff;
        color: #292929;
        
}

.navbar-link-report b{
width:75px;
height:25px;
margin-top:5px;
padding-left:3px;
margin-left:5px;
border:1px solid white; 
font-family: Dosis-Regular;
font-size:16px;
color:#fff;
}

.navbar-defaults > a:hover > b {
       	background-color: #fff;
        color: #292929;
        
}

.navbar-defaults > a:focus > b {
       	background-color: #fff;
        color: #292929;
        
}

/* .navbar-header img {
    background-color: #707070;
    box-shadow: 0px 2px 10px #1A1A1A;
} */

.container{
margin-left:40px;
margin-right:40px;
width: 93%;

}

.pull-right{
padding-right:55px;
}

/* Set Table */
table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: normal;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px none #111111;
}


table.dataTable.no-footer {
    border-bottom: 1px none #111111;
}

.defaultTable {
    border: none;
    border-collapse: separate;
    border-bottom: 0px;
}

    .defaultTable th {
        border-left: 0px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

        .defaultTable th:last-child {
            border-right: none;
        }

    .defaultTable td {
        border-left: 0px solid #ffffff;
        border-right: 1px solid #ABABAB;
    }

        .defaultTable td:first-child {
            border-left: none;
        }

        .defaultTable td:last-child {
            border-right: none;
        }

    .defaultTable thead {
        background-color: #ababab;
    }

        .defaultTable thead tr th {
            color: #ffffff;
        }

.dataTables_info {
    padding-left: 10px;
}

.defaultTable tbody tr.odd{
    background-color:#e7e7e7;
}

.previous, .next {
    padding: 5px;
}

.glyphicon-calendar {
    color: white;
}

.input-group-addon {
    background-color: #ff9900;
}

.dl-horizontal dt {
    white-space: normal;
}