/* Set Table */

	table.dataTable thead th,
	table.dataTable tfoot th {
	    font-weight: normal;
	}
	
	table.dataTable thead th,
	table.dataTable thead td {
	    padding: 10px 18px;
	    border-bottom: 0px none #111111;
	}


	table.dataTable.no-footer {
	    border-bottom: 1px none #111111;
	}

	.defaultTable {
	    border: none;
	    border-collapse: separate;
	    border-bottom: 0px;
	}

	.defaultTable th {
        border-left: 0px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    .defaultTable th:last-child {
        border-right: none;
    }

    .defaultTable td {
        border-left: 0px solid #ffffff;
        border-right: 1px solid #ABABAB;
    }

    .defaultTable td:first-child {
        border-left: none;
    }

    .defaultTable td:last-child {
        border-right: none;
    }

    .defaultTable thead {
        background-color: #ababab;
    }

    .defaultTable thead tr th {
        color: #ffffff;
    }

	.dataTables_info {
	    padding-left: 10px;
	}

	.previous, .next {
	    padding: 5px;
	}
	
	.glyphicon-calendar {
	    color: white;
	}
	
	.input-group-addon {
	    background-color: #ff9900;
	
	}

	.borderForm {
	    border: none; /*3px solid #FFC000;*/
	    border: -radius 5px;
	    -moz-border-radius-topright: 5px;
	    -moz-border-radius-topleft: 5px;
	    -moz-border-radius-bottomright: 5px;
	    -moz-border-radius-bottomleft: 5px;
	    -webkit-border-top-right-radius: 5px;
	    -webkit-border-top-left-radius: 5px;
	    -webkit-border-bottom-right-radius: 5px;
	    -webkit-border-bottom-left-radius: 5px;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	}

    .borderForm h4 {
        background: #FFC000;
        color: white;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 3px;
    }

    .borderForm p {
        color: #333;
        padding: 10px;
    }

	.OKModelHeader {
	    padding: 0px;
	}

    .OKModelHeader h4 {
        background: #1ADA1A;
        color: white;
        padding: 20px;
    }

	.CancelModalHeader {
	    padding: 0px;
	}

    .CancelModalHeader h4 {
        background: #FF0000;
        color: white;
        padding: 20px;
    }

	.defaultModalHeader {
	    padding: 0px;
	    border-radius: 2px;
	}

    .defaultModalHeader h4 {
        background: #FF9900;
        color: white;
        padding: 20px;
    }
    
 
 /* Set Required */
 
.required:after {
  margin-bottom: 0px;
  content:"*";
  color:red;
}  